<mat-spinner *ngIf='isLoading'></mat-spinner>
<mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf='!isLoading'>
        <mat-form-field>
            <input type="text" matInput name="title" [ngModel]="post?.title" required #title="ngModel" placeholder="Title" />
            <mat-error *ngIf="title.invalid">Enter Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="6" [ngModel]="post?.content" name="content" #content="ngModel" required placeholder="Content"></textarea>
            <mat-error *ngIf="content.invalid">Enter Content</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add Post</button>
    </form>
</mat-card>